.leftBlock {
	display: grid;
	grid-template-rows: auto 1fr auto;
	position: relative;
	overflow: hidden;
}

.leftBlockEnter {
	opacity: 0;
}
.leftBlockExit {
	opacity: 1;
}
.leftBlockEnterActive {
	opacity: 1;
}
.leftBlockExitActive {
	opacity: 0;
}
.leftBlockEnterActive,
.leftBlockExitActive {
	transition: opacity 1000ms;
}
