.header {
	padding: 10px 32px;
	box-sizing: border-box;
	height: 102px;
	overflow: hidden;
}

.title {
	font-size: 40px;
	font-weight: 700;
	line-height: 40px;
	text-wrap: nowrap;
}

.titleEng {
	font-size: 28px;
	font-weight: 500;
	line-height: 42px;
	text-wrap: nowrap;
}

.runningLine {
	animation: 5s linear infinite running line;
}

@media screen and (min-width: 2782px) {
	.title {
		font-size: 52px;
		line-height: 52px;
	}
	
	.titleEng {
		font-size: 42px;
		line-height: 42px;
	}
}

/* change animation */

@keyframes line {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(100%);
	}
}
