.container {
	padding: 16px 32px;
}

.finalStop {
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	margin-bottom: 24px;
}

.iconsContainer {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.row {
	display: flex;
	gap: 16px;
}

.list {
	display: flex;
	column-gap: 16px;
	row-gap: 8px;
	flex-wrap: wrap;
	max-height: 108px;
	overflow-y: hidden;
}

.listMetro {
	column-gap: 8px;
}

.station {
	font-size: 32px;
	font-weight: 700;
	line-height: 32px;
}

.stationEng {
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
}

.icon {
	height: 50px;
	display: block;
}
