.content {
	display: flex;
	flex-direction: column;
	border-left: 2px solid rgba(51, 71, 67, 1);
	width: 100%;
	overflow: clip;
	align-self: flex-start;
}

.titleContainer {
	display: flex;
	align-items: center;
	gap: 8px;
	padding-left: 13px;
}

.title {
	font-size: 26px;
	font-weight: 700;
	line-height: 26px;
	color: rgba(51, 71, 67, 1);
}

.table {
	border-collapse: collapse;
	color: rgba(0, 25, 20, 1);
}

.header {
	border-bottom: 2px solid rgba(51, 71, 67, 1);
	font-size: 20px;
	line-height: 20px;
	color: rgba(51, 71, 67, 1);
}

.headerRow th {
	font-weight: 500;
	padding-bottom: 14px;
	vertical-align: bottom;
}

.time {
	width: 80px;
}

.route {
	width: 120px;
}

.direction {
	width: 320px;
}

.company {
	width: 160px;
}

.plane {
	width: 100px;
}

.status {
	width: 180px;
}

.tableBodyEnter {
	transform: translateX(100%);
}

.tableBodyEnterActive {
	transform: translateX(0);
}

.tableBodyExit {
	transform: translateX(0);
}

.tableBodyExitActive {
	transform: translateX(-100%);
}

.tableBodyEnterActive,
.tableBodyExitActive {
	transition: transform 1000ms;
}

@media screen and (max-width: 1920px) {
	.table {
		margin-top: -18px;
	}
}
