.stop {
	display: flex;
	height: 92px;
	align-items: center;
}

.timeContainer {
	text-align: center;
	color: rgba(64, 57, 57, 1);
	font-size: 40px;
	font-weight: 500;
	line-height: 32px;
}

.minute {
	font-size: 24px;
	font-weight: 400;
	line-height: 18px;
}

.circle {
	margin: 0 35px 0 22.5px;
}

.textOnGoing {
	background-color: #B6E5FF;
	width: 640px;
	height: 100%;
	vertical-align: center;
	padding: 16px;
	box-sizing: border-box;
}

.name {
	font-size: 32px;
	font-weight: 500;
	line-height: 32px;
}

.nameOnGoing {
	font-weight: 700;
}

.name_en {
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	margin-top: 4px;
}

.lastStop {
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
	margin-top: 16px;
}
