.stops {
	--gap: 24px;
	position: relative;
	margin: 0;
	padding: 16px 17.5px 18px 17.5px;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	height: fit-content;
}

.lastStop {
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	padding-left: 14.5px;
	background-color: white;
	z-index: 2;
}

@media screen and (min-width: 2782px) {
	.stops {
		--gap: 48px;
		padding: 32px 17.5px 32px 17.5px;
	}
}
